
/* Hide scrollbar for Chrome, Safari and Opera */
.modalForm::-webkit-scrollbar {
    /*display: none;*/
}

/* Hide scrollbar for IE, Edge and Firefox */
.modalForm {
    /*-ms-overflow-style: none;*/  /* IE and Edge */
    /*scrollbar-width: none;*/  /* Firefox */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(214, 214, 214, 0.27);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(214, 214, 214, 0.64);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(122, 122, 122, 0.73);
}
