@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}

pre {
  font-family: Arial, sans-serif;
}

#completedListButton {
  visibility: hidden;
}

/*table.item > tbody > tr > td:nth-child(2),
table.item > tbody > tr > th:nth-child(2)
{
  width: 1em;
}

table.item > tbody > tr > td:nth-child(5),
table.item > tbody > tr > th:nth-child(5)
{
  width: 7em;
}*/
table > tbody > tr > td:first-child:has(> img) {
  width: 40px;
}

table > tbody > tr > td:first-child > img
{
  width: 40px;
  max-height: 40px;
  object-fit: contain;
}

.service-table tbody > tr:has(span.status_delivered) {
  background-color: rgba(0, 255, 0, 0.07);
}
.service-table tbody > tr > th:nth-child(2),
.service-table tbody > tr > th:nth-child(3),
.service-table tbody > tr > th:nth-child(6)
{
  text-wrap: wrap;
}

.service-table tbody > tr > th:nth-child(6)
{
  max-width: 5rem;
}

.service-table tbody > tr > th:nth-child(2)
{
  max-width: 11rem;
}

.select-no-first select option:first-child {
  display: none;
}

.text-xxs {
  font-size: 0.625rem; /* 10px */
  line-height: 0.75rem; /* 12px */
}
