@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}

pre {
  font-family: Arial, sans-serif;
}

#completedListButton {
  visibility: hidden;
}
